:root {
	--primary-color: #000;
	--secondary-color: #444;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	line-height: 1.6;
	color: var(--primary-color);
	font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
	line-height: 1.3;
}

a {
	color: white;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}
header {
	background-color: black;
}
#header-img {
	height: 40px;
	width: 50px;
}
#header div {
	display: grid;
	color: white;
	grid-template-columns: 1fr 1fr;
	border-radius: 40px;
}

#header-div {
	display: flex;
	justify-self: flex-start;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

nav {
	margin: 2rem;
}
#nav-bar {
	justify-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
}

#nav-bar a {
	padding: 0 1rem;
	color: white;
}
#input-div h2 {
	margin: 0 auto;
	padding: 1rem 10rem;
}

#input-div {
	text-align: center;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
}
#email {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid black;
	border-radius: 15px;
	padding: 0.6rem 0.7rem;
	font-size: 0.7rem;
}
.btn {
	display: block;
	color: white;
	background-color: black;
	padding: 0.7rem 1rem;
	border: none;
	cursor: pointer;
	font-size: 0.8rem;
	border-radius: 20px;
	text-align: center;
}

#features {
	background-color: black;
	color: white;
	margin: 1rem 0;
}

.iframe-div {
	display: flex;
}
.iframe-div h2 {
	padding: 1rem 1rem;
}

#headphone-types {
	background-color: black;
	color: white;
}

#footer-id {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
#footer-id ul {
	display: flex;
	justify-self: flex-start;
}

#footer-id div {
	display: flex;
	justify-self: flex-end;
}

#footer-id a {
	padding: 0 1rem;
}
.prices-surrounding-div {
	border: 1px black solid;
	margin: 2rem;
	padding: 0.5rem;
	align-content: center;
}

.btn-02 {
	display: block;
	color: black;
	background-color: white;
	padding: 0.5rem 0.5rem;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 20px;
	text-align: center;
}
#prices-div {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.prices-surrounding-div h2 {
	font-size: 25px;
}
.prices-surrounding-div p {
	padding: 0 3rem;
}
.prices-surrounding-div li {
	padding: 0 1rem;
}
